{% extends 'Layout/base.html.twig' %}

{% block title %}
    Suppression d'un compte bancaire
{% endblock %}

{% block content %}

    <section class="bg-ligh">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Suppression d'un compte bancaire</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="idBankAccount">ID</label>
                            <input type="text" class="form-control" id="idBankAccount" name="idBankAccount" readonly value="{{ bankAccount.idBankAccount }}">
                        </div>
                        <div class="form-group">
                            <label for="idOwner">Propriétaire</label>
                            <select id="idOwner" disabled name="idOwner">
                                <option value="{{ bankAccount.idOwner }}">{{ bankAccount['owner.firstname'] }} {{ bankAccount['owner.lastname'] }} ({{ bankAccount['owner.mailAddress'] }})</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description" readonly placeholder="Description" value="{{ bankAccount.description }}">
                        </div>
                        <div class="form-group">
                            <a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}