{% extends '/layout/base.html.twig' %}

{% block title %}
    Ajout d'un utilisateur
{% endblock %}

{% block content %}

    <section id="authentication" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Ajout d'un utilisateur</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="firstname">Prénom</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="{{ user.firstname }}">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nom</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" value="{{ user.lastname }}">
                        </div>
                        <div class="form-group">
                            <label for="mailAddress">Adresse email</label>
                            <input type="email" class="form-control" id="mailAddress" name="mailAddress" placeholder="Adresse email" value="{{ user.mailAddress }}">
                        </div>
                        <div class="form-group">
                            <label for="passwordPlaintext">Mot de passe</label>
                            <input type="password" class="form-control" id="passwordPlaintext" name="passwordPlaintext" placeholder="Mot de passe" value="{{ user.passwordPlaintext }}">
                        </div>
                        <div class="form-group">
                            <label for="passwordPlaintextConfirm">Confirmation du mot de passe</label>
                            <input type="password" class="form-control" id="passwordPlaintextConfirm" name="passwordPlaintextConfirm" placeholder="Confirmation du mot de passe" value="{{ user.passwordPlaintextConfirm }}">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.value }}">
                            <a href="/user/index" class="btn btn-secondary">Annuler</a>
                            <button type="submit" class="btn btn-primary">Sauver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}